@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnightalternate-12oj-webfont.woff'),
    url('assets/fonts/sfsportsnightalternate-12oj-webfont.woff2');
    
    
}
@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnightaltupright-vrd4-webfont.woff'),
    url('assets/fonts/sfsportsnightaltupright-vrd4-webfont.woff2');
    
    
}
@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnightnsalternate-mldn-webfont.woff'),
    url('assets/fonts/sfsportsnightnsalternate-mldn-webfont.woff2');
   
    
}
@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnightnsaltupright-l8mz-webfont.woff'),
    url('assets/fonts/sfsportsnightnsaltupright-l8mz-webfont.woff2');
  
    
    
}
@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnightns-nr2r-webfont.woff'),
    url('assets/fonts/sfsportsnightns-nr2r-webfont.woff2');
  
    
}
@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnightnsupright-kjel-webfont.woff'),
    url('assets/fonts/sfsportsnightnsupright-kjel-webfont.woff2');
    
}

@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnight-rrdl-webfont.woff'),
    url('assets/fonts/sfsportsnight-rrdl-webfont.woff2');
    
}

@font-face{
    font-family:'SF Sports Night';
    src:url('assets/fonts/sfsportsnightupright-2w3e-webfont.woff'),
    url('assets/fonts/sfsportsnightupright-2w3e-webfont.woff2');
    
}



body{
    margin: 0 auto;
    width: 100%;
   
}



#body--bg{
    background: #10131A ;
    
    width: auto;
    height: auto;
    background-repeat: repeat;
    padding: 160px 0 40px;
    margin-bottom: 160px;

}

.container{
    margin: 0 auto;
    width: 1120px;
    
}


.header-title{
    width: 520px;
    height: 183px;

    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;

    color: #FFFFFF;
    margin-right: 80px;
    margin-bottom: 35px;
}

.block{
    width: 520px;
    height: 173px;
 background: linear-gradient(180deg, #2B3039 0%, rgba(43, 48, 57, 0) 100%);
    border-radius: 40px 40px 0px 0px;
    margin: 30px -15px;
}



.header-text{
    width: 520px;
    height: 140px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;

    opacity: 0.6;
    margin-bottom: 30px;
}

.header--btn{
    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    
    padding: 15px 40px;
    gap: 10px;

    width: 250px;
    height: 48px;
    border-style: none;
    background: linear-gradient(82.75deg, #92E6FF 44.36%, #31C3EF 100%);
    box-shadow: 0px 4px 20px rgba(49, 195, 239, 0.4);
    border-radius: 1000px;
    cursor: pointer;
    white-space: nowrap;
}


.header--btn:hover{
    background: linear-gradient(82.75deg, #92E6FF 44.36%, #31C3EF 60%);
}

.middle--btn:hover{
   background: linear-gradient(82.75deg, #92E6FF 44.36%, #31C3EF 60%);
}

#header-logo{
    padding: 20px 160px 50px 0;
}
/*-----------------------------------------------------*/

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 160px;
}

.column{
    display: flex;
    flex-direction: column;
    margin: 45px 80px 0;
}

.desktopcolumn{
    display: flex;
    flex-direction: column;
}

.rowblock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 39px;
    margin-bottom: 160px;
    margin-top: -195px;
}

#main-logo{
    max-width: 60px;
}

#main-icon{
    max-width: 64px;
    margin: 40px 40px 0;
}

.main-text{
    width: 336px;
    height: 62px;

   font-family: 'SF Sports Night';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 24px;

    
    color: #fff;
    margin-left: 40px;
}

#mid-subtitle{
    
    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

.main-row{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 17px;
    margin-bottom: 15px;
}


#img-size1{
 margin-left: 80px;
}
#img-size2{
    margin-right: 75px;
}

#img-size3{
    margin-left: 80px;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*padding: 40px;*/
    gap: 20px;

    width: 347px;
    height: 311px;

    background: #2B3039;
    border-radius: 40px;
    cursor:pointer;
    height: auto;
    min-height: 311px;
}

.square:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #2B3039;
}

.square-text{
    width: 267px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;

    opacity: 0.6;
    margin: 0 40px 0;
}

.square--btn{
    align-items: center;
    padding: 15px 40px;
    gap: 10px;

    width: 267px;
    height: 58px;

    background: #03070F;
    border-radius: 1000px;
    
    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;


    color: #FFFFFF;
    border-style: none;
    margin: 45px 40px 0px;
    cursor: pointer;
}

.square--btn:hover{
    color: #03070F;
    background: #fff;
    transition: 0.3s linear;
}

/*--------------------------------------------------------*/
.middle-title{
    width: 520px;
   

    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;

    color: #fff;
}

.middle-subtitle{
    width: 520px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;


    color: #FFFFFF;
}

.middle-text{
    width: 520px;
    height: 364px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;

    opacity: 0.6;
    margin-top: 35px;
}


.middle--btn{
    width: 275px;
    height: 48px;
    
    background: linear-gradient(82.75deg, #92E6FF 44.36%, #31C3EF 100%);
    box-shadow: 0px 4px 20px rgba(49, 195, 239, 0.4);
    border-radius: 1000px;

    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    border-style: none;


    color: #03070F;
    margin-left: 190px;
    margin-top: -10px;
    cursor: pointer;
}


.middle-list{
    margin-bottom: 50px;
}

.middle-point{
    width: 486px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;

    opacity: 0.6;
    margin-bottom: 10px;
}

li{
    list-style-image: url(assets/img/checkbox.svg);
    align-items: center;
}
/*--------------------------------------------------------*/


.footer{
    position: relative;
    width: 1120px;
    height: 402px;
   

    background: linear-gradient(75.55deg, #BDF1FF 39.76%, #FFF1FF 100%), linear-gradient(90deg, #A38EF8 0%, #E7AEEF 100%);
  
    background-position: center right;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 52px;
}

.footer::before{
    background-image: url(assets/img/art.png);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-position: right;
}

.footer--btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 45px;
    gap: 11px;

    position: absolute;
    width: 309px;
    height: 54px;
    left: 766px;
    top: 168px;

    background: #03070F;
    color: #fff;
    border-radius: 1125px;
    

    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 20.25px;
    line-height: 20px;

    z-index: 3;
    border-style: none;
    cursor: pointer;
}

.footer--btn:hover{
    color: #03070F;
    background: #fff;
    transition: 0.3s linear;
}

.footer-title{
    width: 510px;
    height: 138px;

    font-family: 'SF Sports Night';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;

    color: #03070F;
}

.footer-text{
    width: 510px;
    height: 84px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

    color: #03070F;

    opacity: 0.6;
    margin-top: -5px;
}



.accordion{
    width: 1120px;
    height: 286px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 10px;
}

.accordion--title{
   display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 1120px;
    height: 52px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  

    color: #FFFFFF;
  
}

.acc--icon{
    content: url(assets/img/cross.svg);
    right: 5px;
    position: absolute;
    width: 16px;
    margin-top: 3px;
}

.accordion-text{
    width: 1058px;
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;

    opacity: 0.6;

}

.accordion-item {

  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
}

.accordion-header h3 {
  margin: 0;
  position: relative;
  font-family: 'SF Sports Night';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.accordion-content {
  display: none;
  margin: -14px 0px -14px 9px;
}

.accordion-item.active .accordion-header {
  
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-item.active .acc--icon {
  transform: rotate(90deg);
  content: url(assets/img/exit.svg);
}